@import "tailwindcss";

body {
  background-color: #000000;
}

html {
  scroll-behavior: smooth;
}

/* Delikatna siateczka / grid mesh */
.bg-grid {
  background-image:
    linear-gradient(to right, rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255,255,255,0.05) 1px, transparent 1px);
  background-size: 32px 32px;
}

.mask-gradient {
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}
